<events>
  <event>
    <name>Hawaii 2015</name>
    <html>albums/hawaii2015/index.html</html>
    <linkText>Check out more photos from this event.</linkText>
    <description>This was an activity packed trip to Kaui.  Lots of fun in the pool, on the beach and on choo choo trains.  Can't wait to do it again.</description>
    <image>events/hawaii2015.JPG</image>
    <orientation>landscape</orientation>
    <date>June, 2015</date>
  </event>
  <event>
    <name>Christmas 2014</name>
    <html>albums/christmas2014/pics-H/index.html</html>
    <flash>/albums/christmas2014/pics-S/index.html</flash>
    <linkText>Check out more photos from this event.</linkText>
    <description>Ethan and Jayden celebrated Christmas three times this year.  First with the Solis family, then with the Suen family and then headed down to LA to celebrate with the Chan family.  It's been a fun filled holiday season!</description>
    <image>events/xmas2014.JPG</image>
    <orientation>portrait</orientation>
    <date>December, 2014</date>
  </event>
  <event>
    <name>Taking Advantage of a Rainy Day</name>
    <description>What's more fun than playing in the rain!</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/8jI2xIpQVCw?rel=0</link>
    <orientation>landscape</orientation>
    <date>November 29, 2014</date>
  </event>
  <event>
    <name>We're TWO!</name>
    <html>albums/2ndbirthday/party-H/index.html</html>
    <flash>/albums/2ndbirthday/party-S/index.html</flash>
    <linkText>Check out more photos from this event.</linkText>
    <description>A fun filled afternoon at Lake Elizabeth hanging out with friends and family.  We jumped in the bounce house all afternoon.</description>
    <image>events/2ndbirthday.JPG</image>
    <orientation>landscape</orientation>
    <date>August 10, 2014</date>
  </event>
  <event>
    <name>Hawaii 2014!</name>
    <html>albums/hawaii2014/vacation-H/index.html</html>
    <flash>/albums/hawaii2014/vacation-S/index.html</flash>
    <linkText>Check out more photos from this event.</linkText>
    <description>Another fabulous family vacation in Oahu and Maui.  Ethan and Jayen couldn't get enough of the water.</description>
    <image>events/hawaii2014.JPG</image>
    <orientation>landscape</orientation>
    <date>July 4, 2014</date>
  </event>
  <event>
    <name>Sammy's 3rd Birthday Party!</name>
    <html>albums/sammys3rd/bday-H/index.html</html>
    <flash>/albums/sammys3rd/bday-S/index.html</flash>
    <linkText>Check out more photos from this event.</linkText>
    <description>A fun filled afternoon at Lemos farm in Half Moon Bay to celebrate cousin Sammy's 3rd Birthday.  Ethan and Jayden had a blast.</description>
    <image>events/sammys3rd.JPG</image>
    <orientation>landscape</orientation>
    <date>June 14, 2014</date>
  </event>
  <event>
    <name>Bust a move!</name>
    <description>Let Ethan and Jayden show you the latest and greatest dance moves.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/llS5GbSb6Mo?rel=0</link>
    <orientation>landscape</orientation>
    <date>January 26, 2014</date>
  </event>
  <event>
    <name>2013 Holiday Season</name>
    <html>albums/holidays2013/pics-H/index.html</html>
    <flash>/albums/holidays2013/pics-S/index.html</flash>
    <linkText>Check out more photos from this event.</linkText>
    <description>Happy Holidays everyone!  We had plenty of family gatherings during the holiday season.</description>
    <image>events/holidays13.JPG</image>
    <orientation>landscape</orientation>
    <date>December 31, 2013</date>
  </event>
  <event>
    <name>Halloween</name>
    <html>albums/halloween2013/pics-H/index.html</html>
    <flash>/albums/halloween2013/pics-S/index.html</flash>
    <linkText>Check out more photos from this event.</linkText>
    <description>The Fox and the Monkey go trick-or-treating.</description>
    <image>events/halloween.JPG</image>
    <orientation>landscape</orientation>
    <date>October 31, 2013</date>
  </event>
  <event>
    <name>Our Life</name>
    <description>Video of Ethan and Jayden's first year!</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/VJ8nEJQCuqI?rel=0</link>
    <orientation>landscape</orientation>
    <date>August 2013</date>
  </event>
  <event>
    <name>Practice</name>
    <description>If at first your don't succeed, dust yourself off and try again.  Jayden has been
        standing steadly for quite sometime, but on Sept 5th, he took his first steps.
        Now him and his brother are practicing together.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/6zAU1pqrrD4?rel=0</link>
    <orientation>landscape</orientation>
    <date>September 6, 2013</date>
  </event>
  <event>
    <name>Baby Steps</name>
    <description>Ethan took his FIRST steps today!!  He just decided to let go and start walking.  Everytime he does it, he has the bigest smile on his face like he knows he's accomplished something big.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/_T9XANg-i5A?rel=0</link>
    <orientation>landscape</orientation>
    <date>August 24, 2013</date>
  </event>
  <event>
    <name>Calling all my peeps!</name>
    <description>Jayden's got a lot of important phone calls to make. We apologize for any crank calls and cryptic text messages he's made.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/HPZxjZvjjE4?rel=0</link>
    <orientation>landscape</orientation>
    <date>August 23, 2013</date>
  </event>
  <event>
    <name>Our First Birthday Party!</name>
    <html>albums/1stbirthday/pics-H/index.html</html>
    <flash>/albums/1stbirthday/pics-S/index.html</flash>
    <linkText>Check out more photos from our special day.</linkText>
    <description>Many of our friends and family came out to celebrate Ethan and Jayden's first birthday.
        They had so much fun eating, playing and hanging out with people.</description>
    <image>events/1stbirthday.JPG</image>
    <orientation>landscape</orientation>
    <date>August 11, 2013</date>
  </event>
  <event>
    <name>Happy Babies #2</name>
    <description>This happens on a nightly basis at dinner time.  They've grown a lot, but at 11 months, one thing hasn't changed...they are still happy babies.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/qEMIy5ZcPN8?rel=0</link>
    <orientation>landscape</orientation>
    <date>July 31, 2013</date>
  </event>
  <event>
    <name>Our first vacation</name>
    <html>albums/hawaii2013/photos-H/index.html</html>
    <flash>/albums/hawaii2013/photos-S/index.html</flash>
    <linkText>Check out more photos from our trip.</linkText>
    <description>Our first family vacation to Hawaii.  The boys were a star on the plane.  They loved the pool but were not a fan of the beach.</description>
    <image>events/hawaii.JPG</image>
    <orientation>landscape</orientation>
    <date>July 7, 2013</date>
  </event>
  <event>
    <name>I finally caught up</name>
    <description>About 3 weeks after Ethan started crawling, Jayden figured it out too.  His style is a bit unconventional, but it gets him where he wants to go.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/OSgy_yESlvw?rel=0</link>
    <orientation>landscape</orientation>
    <date>June 8, 2013</date>
  </event>
  <event>
    <name>Look who's crawling</name>
    <description>After weeks of rocking back and forth on all four's, Ethan figured out how to crawl.  Video taken with daddy's new toy... the GoPro camera</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/oxRzP7xaxaM?rel=0</link>
    <orientation>landscape</orientation>
    <date>May 16, 2013</date>
  </event>
  <event>
    <name>Hanging out with Auntie Suzie and Auntie Michelle</name>
    <description>Auntie Suzie and Auntie Michelle came over to play on Cinco de Mayo.</description>
    <image>events/SuzieandMichelle.JPG</image>
    <orientation>landscape</orientation>
    <date>May 5, 2013</date>
  </event>
  <event>
    <name>Aunt Suzie</name>
    <description>Auntie Suzie can handle twins...no problem.  One baby will be a piece of cake! ;)</description>
    <image>events/Suzie.JPG</image>
    <orientation>landscape</orientation>
    <date>May 5, 2013</date>
  </event>
  <event>
    <name>Chillin</name>
    <description>Getting held all day long.  What a great Sunday!</description>
    <image>events/MandS.JPG</image>
    <orientation>landscape</orientation>
    <date>May 5, 2013</date>
  </event>
  <event>
    <name>Laughing at Grandma</name>
    <description>Jayden is cracking up at the way Grandma sneezes</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/U1tRJWKgorw?rel=0</link>
    <orientation>landscape</orientation>
    <date>April 30, 2013</date>
  </event>
  <event>
    <name>Hawaiian Hunks</name>
    <description>Hawaiian hunks hanging out in the their birthday suit.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/c_fXOxyFZH0?rel=0</link>
    <orientation>landscape</orientation>
    <date>April 29, 2013</date>
  </event>
  <event>
    <name>Beautiful Day</name>
    <html>albums/6to8months/photos-H/index.html</html>
    <flash>/albums/6to8months/photos-S/index.html</flash>
    <linkText>Check out more photos from the day and from the last few months.</linkText>
    <description>It was a beautiful day to be outside.  Aunt Pam, Aunt Patty, Mia and Chasen came over to play.</description>
    <image>events/LamFriends.JPG</image>
    <orientation>landscape</orientation>
    <date>April 21, 2013</date>
  </event>
  <event>
    <name>Two little monkeys</name>
    <description>Ethan and Jayden playing together in their crib</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/9eYzJCu9Zxc?rel=0</link>
    <orientation>landscape</orientation>
    <date>April 15, 2013</date>
  </event>
  <event>
    <name>Slap Jack</name>
    <description>Jayden playing a silly game with dad.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/Yv1ozbe8uOI?rel=0</link>
    <orientation>landscape</orientation>
    <date>March 12, 2013</date>
  </event>
  <event>
    <name>Happy Babies</name>
    <description>Daddy makes funny kissing sounds.</description>
    <image>youtube</image>
    <link>http://www.youtube.com/embed/AMnVVtwKtQo?rel=0</link>
    <orientation>landscape</orientation>
    <date>Jan 22, 2013</date>
  </event>
  <event>
    <name>Hanging with my SB Aunties</name>
    <description>Meeting some of my UCSB Aunties for the first time.</description>
    <image>events/SBAunties.JPG</image>
    <orientation>landscape</orientation>
    <date>January 19, 2013</date>
  </event>
  <event>
    <name>Auntie Annalyn</name>
    <description>Who's that pretty lady holding me.  I can get used to this.</description>
    <image>events/AuntieAnnalyn.JPG</image>
    <orientation>portrait</orientation>
    <date>January 19, 2013</date>
  </event>
  <event>
    <name>Arrival of Ethan and Jayden</name>
    <html>albums/birth/arrival-H/index.html</html>
    <flash>/albums/birth/arrival-S/index.html</flash>
    <linkText>Check out photos from the event here</linkText>
    <description>Ethan and Jayden have finally arrived.  Born August 9th, 2012!!</description>
    <image>events/birth.JPG</image>
    <orientation>landscape</orientation>
    <date>August 9, 2012</date>
  </event>
  <event>
    <name>Baby Shower with Tennis Friends</name>
    <html>albums/tennisShower/baby-H/index.html</html>
    <flash>/albums/tennisShower/baby-S/index.html</flash>
    <linkText>Check out photos from the event here</linkText>
    <description>I have the best teammates in the world.  Special thanks to Lynley, Lien and Tammy for putting this together.</description>
    <image>events/babyshowertennis.jpg</image>
    <orientation>landscape</orientation>
    <date>July 8, 2012</date>
  </event>
  <event>
    <name>Baby Shower</name>
    <html>albums/shower/baby-H/index.html</html>
    <flash>/albums/shower/baby-S/index.html</flash>
    <linkText>Check out photos from the event here</linkText>
    <description>Ethan and Jayden enjoyed their baby shower.  They loved seeing all their friends and family.  They especially love all the gifts they got.</description>
    <image>events/babyshower.JPG</image>
    <orientation>landscape</orientation>
    <date>June 16, 2012</date>
  </event>
  <event>
    <name>Baby Room</name>
    <description>The decorations for the baby room is finally complete.  Special thanks to Yvonne for the banner.</description>
    <image>events/room.jpg</image>
    <orientation>landscape</orientation>
    <date>June 15, 2012</date>
  </event>
</events>
