@charset "utf-8";
/* CSS Document */


.content {
    margin-top: 20px;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

.thumbnail {
    background-color: transparent;
    border: none;
    height: 300px;;
    text-align: center;
    font-family: calibri;
    font-size: 12px;
}
