@charset "utf-8";
/* CSS Document */

.description {
    margin-top:     0px;
    margin-left:    20px;
    margin-right:   20px;
    font-size:      16px;
    font-weight:    bold;
    text-align:     center;
}
.welcomeMsg {
    font-size:      14px;
    font-weight:    bold;
    text-align:     left;
}
.signature {
    text-align:     right;
    margin-right:   50px;
}
.ultrasounds {
    clear:          both;
    font-size:      16px;
    font-weight:    bold;
    margin-left:    25px;
    margin-top:     25px;
    margin-bottom:  10px;
}
.thumbnails {
    float:          left;
    margin-left:    25px;
}
.thumb {
    border: 1px solid #000;
}
#bigphoto {
    display:            none;
    position:           absolute;
    top:                400px;
    left:               300px;
    border:             1px solid #fff;
    background-color:   #fff;
    text-align:         center;
}
.home {
    height:            750px;
    background-color:  #FFFF99;
    background-repeat: no-repeat;

}